header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--secondary);
    color: white;
    nav{
        display: flex;
        align-items: center;
        gap: 40px;
        .active{
            font-size: 18px;
            color: var(--main);
            font-weight: 600;
        }
    }
}